<% include ../partials/header.ejs %>
<div class="container">
    <div class="row justify-content-center align-items-center newForm">
        <div class="col-xs-12">
            <h1 class="text-center">Add Comment to <%=campground.name%></h1>
            <hr class="formHR">
            <form action="/campgrounds/<%=campground._id%>/comments" method="POST">
              <div class="form-group">
                <label>Comment Author: </label>
                <input type="text" class="form-control" name="comment[author]" placeholder="Author Name" required>
              </div>
              <div class="form-group">
                <label>Comment Text: </label>
                <textarea class="form-control" name="comment[text]" rows="5" placeholder="body" required></textarea>
              </div>
              <input type="submit" class="btn btn-success">
            </form>
        </div>
    </div>
</div>    
<% include ../partials/footer.ejs %>