h1,h2,h3,h4,h5,h6{
    color: #5cb85c !important;
}
#appContainer{
    margin-top: 80px;
}
#footer{
    background-color: #333;
    margin-top: 40px;
}
#footer p{
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}
.formHR{
    width: 15%;
    border: none;
    height: 1px;
    background-color: black;
}
.newForm{
    height: 100vh;
}
.newForm form{
    width: 75vw;
}
.deleteForm{
    display: inline;
}
.camp-container{
    margin-bottom: 20px;
}
.camp-container .card{
    display: block;
    margin: 0 auto;
}
.commentDays{
    float: right !important;
}